<div class="container">
  <h1>Rails Movies Search Application</h1>
  <p>Choose from the links below to try different types of search</p>
  <%= link_to "In-Memory Search", in_memory_search_index_path, class: '' %>
</div>
