@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.results b {
  @apply bg-indigo-200;
  @apply px-1;
  @apply font-medium;

}

.results tr:hover b {
  @apply bg-indigo-500;
  @apply text-indigo-100;
}

h1 {
  @apply py-4;
  @apply text-4xl;
}

.container {
  @apply px-4;
}

a {
  @apply font-semibold;
  @apply text-indigo-500;

  &:hover {
    @apply underline;
  }
}
