@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.results b {
  @apply bg-indigo-200;
  @apply px-1;
  @apply font-medium;
}

.results th.type {
  // TOOD: check why this width doesn't apply like min-width does
  width: 90px;
}

.results th.cast {
  width: 80px;
}

.results th.director {
  width: 100px;
}

.results th.country {
  width: 100px;
}

.results th.date_added {
  width: 125px;
}

.results th.listed_in {
  width: 100px;
}

.results th.rating {
  width: 90px;
}

.results th.duration {
  width: 110px;
}

.results tr:hover b {
  @apply bg-indigo-500;
  @apply text-indigo-100;
}

h1 {
  @apply py-4;
  @apply text-4xl;
}

.container {
  @apply px-4;
  @apply pb-4;
}

a {
  @apply font-semibold;
  @apply text-indigo-500;

  &:hover {
    @apply underline;
  }
}

table > tbody {
  tr:hover {
    @apply bg-indigo-200;
    @apply text-gray-900;
  }

  td {
    @apply px-2;
    @apply py-1;
    @apply truncate;
    @apply overflow-ellipsis;
    @apply max-w-xs;
  }
}
